@charset "utf-8";
/* font */
/* Noto Sans KR , Roboto */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*Reset Code*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
address,big,cite,code,del,dfn,em,font,img,ins,
q,s,samp,small,strike,strong,sub,sup,tt,var,b,
u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:none 0;border-spacing:0}
body{color:#343434;font-family:'Noto Sans KR',Roboto,Arial,Sans-serif;background-color:#fff;font-size:16px;line-height:1;font-weight:400;letter-spacing:0;}
header,section,article,nav,aside,footer,address{margin:0;padding:0;border:none 0;border-spacing:0}
img,fieldset,iframe{border:0}
ol,ul,li{list-style:none}
input,select,button,img{vertical-align:middle;font-size:14px}
select, textarea{font-family:sans-serif;outline:none}
i,em,address{font-style:normal}
button{margin:0;padding:0;cursor:pointer;border:0;outline:0;}
a{color:inherit}
a:link,a:visited{text-decoration:none;}
a:hover{text-decoration:none}
legend,caption{display:none}
input:focus,button:focus{outline:none}
*{box-sizing:border-box}